body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    margin: 0;
}
header {
    display: flex;
    color: black;
    justify-content: center;
    border-bottom: 1px solid black;
    font-size: 1.8rem;
    background-color: rgb(206, 216, 119);
    background-image: url(https://besthqwallpapers.com/Uploads/3-4-2021/160842/thumb2-4k-flag-of-usa-grunge-flags-north-american-countries-national-symbols.jpg);
    background-position: center;

}


.country {
display: flex;
flex-direction: column;
align-items: center;
   
}
.container {
    display: flex;
    flex-direction: column;
    
    
}

nav, aside, main {
    width: 100%;
}

nav {
    background-color: rgb(147, 147, 199);
    display: flex;
    justify-content: space-evenly;
    
}

nav a {
    
    padding-inline-start: 0px;
    margin-top: 0;
    padding: 6%;
    border-bottom: 1px black solid;
    transition: 1s;
    text-decoration: none;
    color: aliceblue;
    flex-grow: 1;
    text-align: center;

}
nav a:hover {
    background-color: rgb(112, 112, 156);
    color: rgb(255, 244, 29);
}


nav a:visited {
    color:aliceblue
}

main {
    background-color: rgb(211, 211, 211);
}

aside {
    background-color: rgb(147, 147, 199);
    display: flex;
    justify-content: space-around;
    
}

.icons {
   padding: 2%;
   
 
   
}
.icons img {
    
    width: 50px;
    height: 50px;
}

.bilder {
    height: 100%;
    width: 70%;
    margin: 0;
}

.bilder img {
    width: 100%;
    border-radius: 10px;
    border: 2px solid black;
}
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100;
    padding-top: 3%;
    
    
}
.title {
    position: relative;
    color: white;
    text-shadow: 4px 4px 8px black, 0 0 25px blue, 0 0 25px darkblue;
    font-size: 250%;

}
.title span {
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    animation: spinn 2s 1;
    animation-delay: calc(.3s * var(--i));
}

.image {
    width: 100%;
}
@keyframes spinn {
    0%, 80% {
        transform: rotateY(360deg)
    }
}

@media screen and ( min-width: 768px) {
    .container {

        flex-direction: row;
        height: 100vh auto;
       
    }
    

    nav {
        width: 20%;
        flex-direction: column;
        justify-content: flex-start;     
        
    }
    nav a {
        flex-grow: 0;
    }

    main {
        width: 60%;
        padding: 3% 0 3% 0;
        
    }

    aside {
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center; 
        
    }
 

    .main-container {
        flex-direction:row; 
        flex-wrap:wrap;
        justify-content: space-around;
        align-items:stretch;

              
    
    }
  

    .bilder img {

       
       width: 100%;
      
    }
    .bilder{
        
        height: auto;
        width: 40%;
        

    }

}